@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
body{
    height: 100vh;
    display: grid;
    place-items: center;
    background: #e94560;
    font-family: 'Nerko One', cursive;
    font-size: 1.5rem;
}

main{
    display: grid;
    place-items: center;
}
img{
    border: 8px solid black;
    border-radius: 8px;
}
h1{
    margin-top:0;
}
marquee{
    margin-top: 30px;
    text-align: center;
}


#banner{
    font-size: 13rem;
    position: absolute;
    color: #ffa62b;
    -webkit-text-stroke: 8px black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    user-select: none;
    transition: opacity ease-out 400ms;
}
#banner.show{
    opacity: 1;
}

#wrapper{
    position: relative;
}